##Feature Engineering Notebook

**Goal: create new features for demographics, coverage periods, reimbursement/beneficiary and other potential derived features

**Input ../data/interim/beneficiary_cleaned.csv

**Output ../data/processed/beneficiary_features.csv

In [2]:
import os 
import pandas as pd 
import numpy

INPUT_PATH = '../data/interim/beneficiary_cleaned.csv'
OUTPUT_PATH = '../data/processed/beneficiary_features'
AS_OF_DATE = '2020-12-31'

In [3]:
#Read In data and observe

df = pd.read_csv(INPUT_PATH)
print(df.shape)

df.head()

(349064, 36)

,Beneficiary Code,Birth_date,Date_of_Death,Gender,Race,End_Stage_Renal_Disease_Indicator,State_code,County_code,Number_of_months_covered_a,Numver_of_months_covered_b,...,OP_medicare_reimbursement,OP_bene_resp_amount,OP_primary,Carrier_medicare_reimb,Carrier_bene_amount,Carrier_annual_payer_reimb,AGE,total_reimbursement,total_beneficiary_amount,total_primary_payment
0,00000B48BCF4AD29,1970-01-01 00:00:00.019230901,NaN,2,5,0,10,260,12,12,...,1520.0,80.0,0.0,6260.0,1520.0,0.0,55,88780.0,4672.0,0.0
1,0000525AB30E4DEF,1970-01-01 00:00:00.019201001,NaN,2,1,0,31,300,12,12,...,1760.0,670.0,0.0,3830.0,1010.0,50.0,55,18850.0,3728.0,50.0
2,00009C897C3D8372,1970-01-01 00:00:00.019320101,NaN,1,1,Y,7,70,12,12,...,100.0,160.0,0.0,1540.0,280.0,60.0,55,39140.0,4536.0,60.0
3,0001168CE43BE51B,1970-01-01 00:00:00.019340901,NaN,2,1,0,6,200,12,12,...,0.0,0.0,0.0,0.0,0.0,0.0,55,0.0,0.0,0.0
4,0002E494BC87CE10,1970-01-01 00:00:00.019140701,NaN,1,2,0,5,200,2,2,...,0.0,0.0,0.0,0.0,0.0,0.0,55,0.0,0.0,0.0